<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmls:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      xmlns:xmls="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>show</title>
</head>
<body>
<th:block layout:fragment="content">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articleList}">
            <th th:text="${article.getId()}">1</th>
            <td ><a th:href="@{/articles/{id} (id=${article.getId()})}" th:text="${article.getTitle()}"></a></td>
            <td th:text="${article.getContent()}">내용 1</td>
        </tr>
        </tbody>
    </table>
    <a href="/articles/new">New Article</a>
</th:block>
</body>
</html>