<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmls:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      xmlns:xmls="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>show</title>
</head>
<body>
<th:block layout:fragment="content">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${article}">
            <th th:text="${article.getId()}">1</th>
            <td th:text="${article.getTitle()}">제목 1</td>
            <td th:text="${article.getContent()}">내용 1</td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/articles/{id}/edit (id=${article.getId()})}" class="btn btn-primary">Edit</a>
    <a th:href="@{/articles/{id}/delete (id=${article.getId()})}" class="btn btn-danger">Delete</a>
    <a href="/articles">Go to Article List</a>
    <tbody>
    <tr th:each="commentDto : ${commentDtos}">
        <th th:text="${commentDto.getNickname()}">1</th>
        <td th:text="${commentDto.getBody()}">내용 1</td>
    </tr>
    </tbody>
</th:block>
</body>
</html>